.App {
  text-align: center;
  height: 95vh;
}

.App .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.App .container .inputs {
  background: red;
  padding: 100px
}

.App .container .inputs input {
  display: block;
  height: 30px;
  width: 30px;
}